* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f4f4f4;
}

h3 {
  margin: 10px 0;
}

/* Text */
.text-primary {
  color: #3498db;
}

.text-success {
  color: #27ae60;
}

.text-danger {
  color: #e74c3c;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  color: #fff;
  overflow: hidden;
  padding: 20px 30px;
  margin-bottom: 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 5px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #fff 2px solid;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 64px;
}

/* Form */
.form-container {
  max-width: 500px;
  margin: 24px auto;
}

.form-container h1 {
  text-align: center;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ccc;
  font-size: 18px;
}

.form-container .form-group {
  margin: 18px 0;
}

/* Buttons */
.btn {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
  transition: 0.5s;
  text-decoration: none;
}

.btn-primary {
  background-color: #3498db;
  color: #fff;
}

.btn-success {
  background-color: #27ae60;
  color: #fff;
}

.btn-danger {
  background-color: #e74c3c;
  color: #fff;
}

.btn-block {
  width: 100%;
  display: block;
}

.btn:hover {
  opacity: 0.8;
}

/* Alert */
.alert {
  background-color: #fff;
  color: #333;
  padding: 20px 10px;
  border-radius: 5px;
}

.alert-danger {
  background-color: #e74c3c;
  color: #fff;
}

.alert-success {
  background-color: #27ae60;
  color: #fff;
}

/* Verification Animation */
.verification-animation i {
  animation: user-verification 2s infinite ease-in-out;
  transform: scale(0.5);
  transition: all 2s ease-in-out;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
  }

  .navbar a {
    padding: 10 10px;
    margin: 0 3px;
  }
}

@keyframes user-verification {
  to {
    transform: scale(1);
  }
}
